<ion-header>
  <ion-navbar>
    <ion-title>
      <h1 style="text-align:center">Berita</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list *ngIf="listBerita && listBerita.length">
    
    <ion-list-header>
     Indeks Berita
    </ion-list-header>
   
   <ion-item text-wrap *ngFor="let item of listBerita" (click)="getDetailBerita(item,'Berita')">
    <ion-thumbnail item-start>
      <img src="{{item.featured_image}}" style="size:100%">
    </ion-thumbnail>
    <h2>{{item.judul}}</h2>
    <p>{{item.username}}</p>
    <!-- <button ion-button clear item-end>View</button> -->
  </ion-item>
 
</ion-list>


</ion-content>
